* {
	font-family: 'Lato', sans-serif;
}

tr {
	font-size: 18pt;
}
input {
	font-size: 14pt;
}
input[type="text"], input[type="number"] {
  padding: 5;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus, input[type="number"]:focus,
input[type="text"].focus, input[type="number"].focus {
  border-bottom: solid 2px #969696;
}
.red {
	color: red;
}
.green {
	color: green;
}
.gray {
	color: lightgray;
}
.orange {
	color: orange;
}
.brown {
	color: brown;
}
.blue {
	color: blue;
}
.left, .left input {
	text-align: right;
}
input[type="text"] {
	width: 70px;
}
input[type="number"] {
	width: 55px;
}
#times *, #pause {
	font-size: 40pt;
}
#start {
	align: center;
}
#times td {
	padding: 5px;
}
