* {
	font-family: 'Lato', sans-serif;
}
body, html {
	padding: 0px;
	margin: 0px;
}
tr {
	font-size: 18pt;
}
input {
	font-size: 14pt;
}
input[type="text"], input[type="number"] {
  padding: 5;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus, input[type="number"]:focus,
input[type="text"].focus, input[type="number"].focus {
  border-bottom: solid 2px #969696;
}
.red {
	color: red;
}
.green {
	color: green;
}
.gray {
	color: lightgray;
}
.orange {
	color: orange;
}
.brown {
	color: brown;
}
.blue {
	color: blue;
}
.left, .left input {
	text-align: right;
}
input[type="text"] {
	width: 70px;
}
input[type="number"] {
	width: 55px;
}
table {
	border-collapse: collapse;
}
#times * {
	font-size: 10pt;
}
#pause {
	font-size: 5pt;
}
#start {
	align: center;
}
#times td {
	padding: 5px;
}
#timediv {
	float: left;
}
#buttondiv {
	float: right;
	font-size: 10vw;
	color: black;
	text-align: center;
}
#buttontext {
	background-color: white;
	height: 75vh;
}
#buttontext:hover {
	background-color: lightblue;
	color: darkgray;
	cursor: pointer;
}
#pausetext {
	background-color: white;
	height: 25vh;
}
#pausetext:hover {
	background-color: lightblue;
	color: darkgray;
	cursor: pointer;
}
.noturn {
	background-color: white;
}
.turn {
	color: white;
}
.turn.blue {
	background-color: blue;
}
.noturn.blue {
	color: blue;
}
.turn.brown {
	background-color: brown;
}
.noturn.brown {
	color: brown;
}
.turn.gray {
	background-color: gray;
}
.noturn.gray {
	color: gray;
}
.turn.orange {
	background-color: orange;
}
.noturn.orange {
	color: orange;
}
.turn.red {
	background-color: red;
}
.noturn.red {
	color: red;
}
.turn.green {
	background-color: green;
}
.noturn.green {
	color: green;
}
